*{
	box-sizing:border-box;
}

h1{
	text-align:center;
}

h2{
	text-align:center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #3d0fb9;
	font-size: 40px;
}
h3{
	text-align:center;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #f30606;
	font-size: 40px;
}
nav {
	width: 100%;
	height: 60px; 
	position: fixed; 
	top: 0;
	background: #bc5b1a;
	z-index: 50px;
  }
  
  nav ul {
	padding: 20px;
	margin: 0 auto;
	list-style: none;
	text-align: center;
  }
  nav ul li {
	display: inline-block;
	margin: 0 10px;
  }
  nav ul li a {
	padding: 10px 0;
	color: #fff;
	font-size: 1rem;
	text-decoration: none;
	font-weight: bold;
	transition: all 0.2s ease;
  }
  nav ul li a:hover {
	color: #34495E;
  }
  a.active {
	border-bottom: 2px solid #ecf0f1;
  }
  

.gallery1, .gallery2, .gallery3, {
	vertical-align : top;
	background-color: azure;
}

.image{
	width: 16.6667%;
	padding: 10px;
	display:  inline-block;
}

.image:hover{
	scale: 1.1;
}

.description{
	text-align:left;
	padding:0;
	height: 30px;
	width: 100px;
	word-break:  break-all;

	color: black;

}

@media only screen and (max-width:920px){
	.image{
		width:20%;
	}
}

@media only screen and (max-width:800px){
	.image{
		width:25%;
	}
}

@media only screen and (max-width:700px){
	.image{
		width:33.3%;
	}
}

@media only screen and (max-width:500px){
	.image{
		width:50%;
	}
}

@media only screen and (max-width:380px){
	.image{
		width:100%;
	}
}
button{
    scale: 1.2;
    background-color: rgb(196, 24, 24);
    color: white;
    border: none;
    padding-top: 3px;
    border-radius: 90px;
    padding-left: 10px;
    padding-right: 10px;
}
button:hover{
    scale: 1.8;
}
body{
	background: linear-gradient(lightyellow, skyblue, lightgreen);
}

footer {
    text-align: center;
    padding: 2rem 1rem;
    margin: auto;
    color: #333;
}

footer h3 {
    font-size: 3rem;
    margin-bottom: 0;
}

footer p a {
    text-decoration: none;
    color: rgb(11, 157, 224);
}